{% extends "public/public_template.html" %}

{% block title %}login{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
         <h1>Login</h1>
         <hr>
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <hr>
          </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
       </div>
   </div>
</div>

{% endblock %}

